In [3]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\Data Analyst internship\project\Retail Business Performance & Profitability Analysis (1).csv")

In [7]:
df

,Transaction_ID,Date,Product_ID,Product_Category,Product_Name,Units_Sold,Unit_Cost,Unit_Price,Total_Revenue,Total_Cost,Profit,Region,Inventory_Status
0,T00001,2023-01-11,P1074,Apparel,Apparel Item 48,7,160.33,136.42,954.94,1122.31,-167.37,North,In Stock
1,T00002,2023-08-21,P1437,Toys,Toys Item 91,7,91.94,64.97,454.79,643.58,-188.79,East,Low Stock
2,T00003,2023-09-05,P1212,Electronics,Electronics Item 57,4,32.86,35.89,143.56,131.44,12.12,North,Low Stock
3,T00004,2023-08-27,P1865,Furniture,Furniture Item 61,12,188.02,177.96,2135.52,2256.24,-120.72,East,Low Stock
4,T00005,2023-02-02,P1179,Electronics,Electronics Item 3,1,64.33,88.39,88.39,64.33,24.06,East,Low Stock
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,T00496,2023-01-30,P1180,Furniture,Furniture Item 54,10,177.81,238.91,2389.10,1778.10,611.00,East,In Stock
496,T00497,2023-05-13,P1558,Apparel,Apparel Item 48,8,39.78,22.88,183.04,318.24,-135.20,North,In Stock
497,T00498,2023-11-23,P1354,Apparel,Apparel Item 95,13,23.13,32.63,424.19,300.69,123.50,North,Low Stock
498,T00499,2023-04-17,P1748,Electronics,Electronics Item 43,14,146.06,87.85,1229.90,2044.84,-814.94,South,Low Stock
499,T00500,2023-03-21,P1164,Books,Books Item 9,4,15.30,22.94,91.76,61.20,30.56,North,In Stock

In [9]:
# Avoid divide-by-zero
df['Inventory_Days'] = df['Units_Sold'].apply(lambda x: 30 / x if x > 0 else np.nan)

# Correlation between Inventory Days and Profit
correlation = df[['Inventory_Days', 'Profit']].corr()
correlation_value = correlation.loc['Inventory_Days', 'Profit']
correlation_value

-0.24390531946053448

In [32]:
# Estimate Inventory Days as a proxy: 30 / Units_Sold
df['Inventory_Days'] = df['Units_Sold'].apply(lambda x: 30 / x if x > 0 else np.nan)

In [36]:
# Flag slow-moving products
slow_moving = df[df['Inventory_Days'] > 25].copy()
slow_moving['Flag'] = 'Slow-Moving'

In [19]:
# Flag overstocked products with low profit
overstocked = df[(df['Inventory_Status'] == 'In Stock') & (df['Profit'] < 50)].copy()
overstocked['Flag'] = 'Overstocked'

In [21]:

# Combine both flags
strategic_flags = pd.concat([slow_moving, overstocked])

In [25]:
# Show key suggestions
summary = strategic_flags[[
    'Product_Category', 'Product_Name', 'Units_Sold', 'Inventory_Days',
    'Profit', 'Inventory_Status', 'Flag'
]].sort_values(by='Profit')

print(summary.head(10))

    Product_Category         Product_Name  Units_Sold  Inventory_Days  Profit  \
99       Electronics  Electronics Item 28          17        1.764706 -972.74
76              Toys         Toys Item 87          15        2.000000 -933.75
111        Groceries    Groceries Item 57          18        1.666667 -866.34
42         Groceries    Groceries Item 94          16        1.875000 -697.44
302          Apparel      Apparel Item 65          17        1.764706 -641.41
32       Electronics  Electronics Item 87          13        2.307692 -607.10
461        Furniture    Furniture Item 42          17        1.764706 -565.42
438        Groceries    Groceries Item 12          13        2.307692 -486.72
396             Toys         Toys Item 62          13        2.307692 -465.92
299        Furniture     Furniture Item 8          19        1.578947 -439.28

    Inventory_Status         Flag
99          In Stock  Overstocked
76          In Stock  Overstocked
111         In Stock  Overstocked
42          In Stock  Overstocked
302         In Stock  Overstocked
32          In Stock  Overstocked
461         In Stock  Overstocked
438         In Stock  Overstocked
396         In Stock  Overstocked
299         In Stock  Overstocked